

body
{
	padding-top: 40px;
}

ul, ol {
list-style-type: none;
}

#hero
{
    position:relative;
    z-index:1;
    margin: 0px auto;
    width:100%;
    min-width:940px;
    min-height:440px;
    max-width:1680px;
    overflow:hidden;
}

.slides, 
#homes #hero .slide,
#homes #hero img
{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0; 
    margin: 0px;
}

#hero a.image
{
    display:block;
    text-decoration:none;
}
#hero img
{
    position:absolute;
    left:0;
    top:0;
}
    
#hero .cropping img
{
    width:auto;
    height:auto;
}

#hero .fade
{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:135px;
    background:url(http://www.jetsetter.com/static/images/homes/hero-gradient.png) repeat-x bottom;
}

#hero .cards
{
    position:relative;
    z-index:2;
    margin:0 auto;
    width:960px
}

#hero .card
{
    position:absolute;
    right:0;
    top:30px;
    width:225px;
    height:210px;
    background-color:#000;
    background-color:rgba(0,0,0,.9);
    *background-color:#000;
    color:#eee;
    padding:20px 30px;
    box-shadow:0 5px 8px rgba(0,0,0,.3);
    visibility:hidden;
}

#hero .cards .selected
{
    visibility:visible
}

#hero .card .label
{
    margin-bottom:12px;
    padding-left:45px;
    line-height:34px;
    text-transform:uppercase;
    font-size:13px;
    font-weight:200;
    letter-spacing:1px;
    background:url(http://www.jetsetter.com/static/images/homes/villa-icon.png) no-repeat left center;
    color:#999;
}

#hero .card .label span
{
    color:#eee
}

#hero .card .name
{
    margin-top:15px;font:italic 14px georgia,serif;
}

#hero .card .location a
{
    font-size:28px;font-weight:100;line-height:1.1;color:#eee;text-decoration:none
}

#hero .card .cta-button
{
    position:absolute;
    bottom:30px;
    left:30px;
    width:205px;
    height:32px;
    line-height:32px;
    padding:0 10px;
    color:#fff;
    font-size:14px;
}

#hero .card .cta-button:hover
{
    text-decoration:none;
}

#hero .card .cta-button .clock
{
    display:inline-block;
    width:16px;
    height:17px;
    background:url(http://www.jetsetter.com/static/images/newsplash/flash-clock-small.png) no-repeat center;
    margin:0 5px -2px 0;
}

#hero .card .cta-button .arrow
{
    float:right;
    _display:inline;
    *margin-top:-30px;
}

#hero .gallery-dots
{
    position:absolute;
    right:0;
    top:280px;
    border-top:1px solid #555;
    width:285px;
    padding:2px 0;
    background-color:#000;
    background-color:rgba(0,0,0,.8);
    *background-color:#000
}

#hero .gallery-dots a
{
    font-size:28px;
    line-height:28px;
    font-size:40px\9
}

#hero .search-widget
{
    position:relative;
    z-index:2;
    margin:0 auto;
    width:960px;
}

#hero .search-form
{
    position:absolute;
    right:0; 
    top:30px; 
    box-shadow:0 5px 8px rgba(0,0,0,.3);
    visibility:visible;
}

#hero .search-form2
{
    position:absolute;
    left:33px; 
    top:150px; 
    box-shadow:0 5px 8px rgba(0,0,0,.3);
    visibility:visible;
}